<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/chat.css">
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <div class="side-box">
            <div class="user-info"></div>
            <div class="contacts-list"></div>
        </div>
        <div class="chat-box">
            <div class="chat-header"></div>
            <div class="messages-container"></div>
            <input type="text" class="input-message" placeholder="Type a message...">
        </div>
    </div>
    <script src="scripts/chat.js"></script>
</body>
</html>