<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="login-form">
        <h1>Login</h1>
        <form id="login">
            <input type="text" name="nick" placeholder="Nick" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form> 
        <p>Don't have an account? <a href="/register">Register here</a>.</p>
    </div>
    <script src="scripts/login-register.js"></script>
</body>
</html>