<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/chat.css">
</head>
<body>
    <div class="container">
        <div class="user-list">
            <input type="text" class="search-bar" placeholder="Search users...">
            <!-- User list goes here -->
            <ul>
                <li>User 1</li>
                <li>User 2</li>
                <li>User 3</li>
                <!-- More users can be added here -->
            </ul>
        </div>
        <div class="chat-box">
            <div class="chat-header">
                <h2>Chatting with User 2</h2>
                <p>Some information about User 2...</p>
            </div>
            <!-- Chat messages go here -->
            <div class="messages-container">
                <div class="message my-message">
                    <p><strong>You:</strong> Hello!</p>
                </div>
                <div class="message other-message">
                    <p><strong>User 2:</strong> Hi, how are you?</p>
                </div>
                <div class="message my-message">
                    <p><strong>You:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia, eum dolorum quas eligendi, delectus illum veniam expedita voluptatibus corporis beatae dignissimos minima facere? Sed maxime vel, consequatur mollitia rem molestiae.</p>
                </div>
                <div class="message other-message">
                    <p><strong>User 2:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum debitis corporis dolores illum odio soluta ipsa magnam omnis deserunt! Necessitatibus quisquam pariatur numquam voluptates dolor ratione in nobis nulla omnis.</p>
                </div>
                <div class="message other-message">
                    <p><strong>User 2:</strong> And you?</p>
                </div>
                <div class="message my-message">
                    <p><strong>You:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                </div>
            </div>
            <input type="text" class="input-message" placeholder="Type a message...">
        </div>
    </div>
</body>
</html>