body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    box-shadow: 0px 0px 10px 0px #00000033;
}

.side-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #ffffff;
    border-right: 1px solid #cccccc;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #aebec4;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

.user-nick {
    display: flex;
    font-size: 18px;
    font-style: bold;
}

.user-status {
    display: flex;
    align-items: center;
}

.status-text {
    margin-right: 5px;
    color: #666666
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}

.contact-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 20px;
}

.chat-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 70%;
    padding: 10px;
    background-color: #ffffff;
}

.search-bar, .chat-box textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

.messages-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    padding: inherit;
    overflow: hidden;
}

.message {
    max-width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000033;
}

.message > p {
    margin: 0;
}

.message.my-message {
    background-color: #007BFF;
    color: #f1f1f1;
    align-self: flex-end;
    margin-left: auto;
}

.message.other-message {
    background-color: #f0f0f0;
    align-self: flex-start;
    margin-right: 40%;
}

.active-contact {
    background-color: #f0f0f0;
}

.input-message {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    bottom: 0;
}

.contact-card {
    display: flex;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #cccccc;
}

.contact-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.contact-nick {
    font-size: 18px;
    margin-bottom: 5px;
}

.contact-status {
    font-size: 14px;
    color: #666666;
}

.unread-messages-info {
    display: none;
    background-color: red;
    color: #f1f1f1;
    border-radius: 25%;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 5px;
}

.chat-header {
    display: none;
    border-bottom: 1px solid #cccccc;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    position: relative;
}

.user-nick {
    font-size: 18px;
    margin-bottom: 5px;
}

.status-indicator {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
}
